
.summary-page .headline {
    line-height: 150%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-weight: bold;
}

.summary-page label{
    position: relative;
    padding: 12px 12px;
    margin-top: 5px;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    font-size: 17px;
    /* background: #1040c4; */
    color: #fff;
    cursor: pointer;
    user-select: none;
} 

.summary-page label:hover{
    background: rgba(0, 0, 0, 0.2);
} 

.summary-page .tab-content{
    position: relative;
    background: none;
    width: calc(100% - 20%);
    padding: 15px 15px 15px 20px;
    float: left;
    box-sizing: border-box;
    z-index: 19;
    display: none;
}

.service-offer {
    height: auto;
    min-height: 700px;
}

.service-offer .row {
    min-height: 500px;
}

.calc-result {
    background-color: white; 
    color: black; 
    padding: 20px 25px 20px 25px; 
    /* min-height: 1200px; */
    height: 1350px !important;
    height: auto;
    margin: 0;
}

.calc-result h1 {
    color: black;
}

.tab-1 {
    min-height: 1200px;
}

.summary-page .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    min-width: 100%;
}

.summary-page .content-table thead tr{
    background-color: #0c2d99;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.summary-page .content-table th {
    padding: 10px 4px;
    border-top: 1px #ffffff solid;
}

.summary-page .content-table td {
    padding: 6px 4px;
    border-top: 1px #ffffff solid;
    border-bottom: 1px #ffffff solid;
} 

.summary-page .content-table tr:hover {
    background-color: #06315f;
}

.th-1, .td-1 {
    width: 3%;
}

.th-2, .td-2 {
    width: 72%;
}

.th-3, .td-3 {
    width: 18%;
}

.th-4, .td-4 {
    width: 7%;
}

.td-4 input {
    width: 100%;
}

.summary > th, td{
    border: 1px solid black;
} 

.order-completed {
    color: green;
}

.schedule-page {
    color: black; 
    padding: 20px 25px 20px 25px; 
    height: 1350px !important;
    height: auto;
    margin: 0;
}

/* ---------------------------------------------- */

.printable { 
    display: none;
}

@media print {
    .non-printable { display: none; }
    .printable { display: block;}
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */

@media (min-width: 1200px) and (max-width: 1399px) {
    .summary-page .content-table {margin: 25px 0; font-size: 16px; min-width: 100%;}
    .summary-page label {font-size: 15px;}
    .service-offer h4 {font-size: 20px; line-height: 140%; margin: 0 5px;}
} 

@media (min-width: 1054px) and (max-width: 1199px) {
    .summary-page .content-table {margin: 25px 0; font-size: 16px; min-width: 100%;}
    .summary-page label {font-size: 15px;}
    .service-offer h4 {font-size: 16px; line-height: 140%; margin: 0 5px;}
}

@media (min-width: 992px) and (max-width: 1053px) {
    .summary-page .content-table {margin: 25px 0; font-size: 15px; min-width: 100%;}
    .summary-page label {font-size: 15px;}
    .service-offer h4 {font-size: 16px; line-height: 140%; margin: 0 5px;}
} 

@media (min-width: 768px) and (max-width: 991px) {
    .summary-page .headline {font-size: 45px;}
    .summary-page .content-table {margin: 25px 0; font-size: 14px; min-width: 100%;}
    .summary-page label {font-size: 15px;}
    .service-offer h4 {font-size: 15px; line-height: 140%; margin: 0 5px;}
}

@media (min-width: 576px) and (max-width: 767px) {
    .summary-page .headline {font-size: 45px;}
    .summary-page .content-table {margin: 25px 0; font-size: 13px; min-width: 100%;}
    .summary-page label {font-size: 13px; line-height: 140%;}
    .summary-page .tab-content {padding: 10px 10px 10px 10px;}
    .service-offer h4 {font-size: 15px; line-height: 140%; margin: 0 5px;}
}

@media (min-width: 384px) and (max-width: 575px) {
    .summary-page .headline {font-size: 40px;}
    .summary-page {margin-bottom: 1rem;}
    .summary-page .content-table {margin: 25px 0; font-size: 13px; min-width: 100%;}
    .summary-page label {font-size: 15px;}
    .summary-page .tab-content {padding: 8px 8px 8px 8px;}
    .service-offer h4 {font-size: 15px; line-height: 140%; margin: 0 5px;}
}

@media (min-width: 1px) and (max-width: 383px) {
    .summary-page .headline  {font-size: 35px;}
    .summary-page {margin-bottom: 1rem;}
    .summary-page .content-table {margin: 25px 0; font-size: 11px; min-width: 100%;}
    .summary-page label {font-size: 15px;}
    .summary-page {padding: 5px 5px 5px 5px;}
    .service-offer h4 {font-size: 15px; line-height: 140%; margin: 0 5px;}
}

/* ----------------------------------------------------- */
