
.contract-page .section-one p {
    display: inline;
}

.contract-page input {
    outline: none;
    border: none;
    border-bottom: dotted 1px black;
    font-style: italic;
}

.contract-page .section-one .place-data .place {
    width: 280px;
}

.contract-page .section-one .place-data .time{
    width: 140px;
}

.contract-page .section-one input {
    outline: none;
    border: none;
    border-bottom: dotted 1px black;
    font-style: italic;
}

.contract-page label {
    display: block;
    font-size: 12px;
}

.contract-page .section-one .buyer {
    width: 1061px;
}

.contract-page .section-one .buyer .buyer-name input {
    width: 100%;
}

.contract-page .section-one .buyer .buyer-in-person p {
    display: inline;
}

.contract-page .section-one .buyer .buyer-in-person .person-data {
    display: inline;
    width: calc(1061px - 190px);
}

.contract-page .section-one .buyer .buyer-in-person .person-data input {
    width: calc(1061px - 190px);
}

.contract-page .section-one .buyer .buyer-in-person .person-data label {
    width: calc(1061px - 190px);
    float: right;
}

.contract-page .section-one .buyer .address input {
    width: 100%;
}

.contract-page .section-one .buyer .address label {
    width: 100%;
}

.contract-page .section-one .buyer .text-between p {
    display: block;
    margin-bottom: 0;
}

.contract-page .section-two .executive input {
    width: 100%;
}

.contract-page .section-two .executive-person p {
    display: inline;
}

.contract-page .section-two .executive-person .person-data {
    display: inline;
    width: calc(1061px - 190px);
}

.contract-page .section-two .executive-person .person-data input {
    width: calc(1061px - 190px);
}

.contract-page .section-two .executive-person .person-data label {
    width: calc(1061px - 190px);
    float: right;
}

.contract-page .section-two .executive-address input {
    width: 100%;
}

.contract-page .section-two .executive-address label {
    width: 100%;
}

.contract-page .section-two .text-between p {
    display: block;
    margin-bottom: 0;
}

.contract-page .section-six .amount {
    width: 120px;
}

.contract-page .section-six .amount {
    width: 120px;
}

.contract-page .section-six .amount-number {
    width: 280px;
}

.contract-page .section-six .purchaser-text {
    margin-bottom: 0;
}

.contract-page .section-six .purchaser-name {
    display: block;
    width: 50%;
    height: 36px;
}

.contract-page .section-six .purchaser-address {
    display: block;
    width: 50%;
    height: 36px;
}

.contract-page .section-seven .indention {
    margin-left: 25px;
}

.contract-page .section-nine input {
    width: 120px;
    text-align: center;
}

.contract-page .section-thirteen p {
    margin-bottom: 0;
}

.contract-page .section-thirteen .indention {
    margin-left: 25px;
}

.summary-page .headline {
    line-height: 150%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-weight: bold;
}

.summary-page label{
    position: relative;
    padding: 12px 12px;
    margin-top: 5px;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    user-select: none;
} 

.summary-page label:hover{
    background: rgba(0, 0, 0, 0.2);
} 

.summary-page .tab-content{
    position: relative;
    background: none;
    width: calc(100% - 20%);
    padding: 15px 15px 15px 20px;
    float: left;
    box-sizing: border-box;
    z-index: 19;
    display: none;
}

.service-offer {
    height: auto;
    min-height: 700px;
}

.service-offer .row {
    min-height: 500px;
}

.calc-result {
    background-color: white; 
    color: black; 
    padding: 20px 25px 20px 25px; 
    min-height: 3200px;
    height: auto;
    margin: 0;
}

.attachment {
    background-color: white; 
    color: black; 
    padding: 20px 25px 20px 25px; 
    min-height: 1550px;
    height: auto;
    margin: 0;
}

.calc-result h1 {
    color: black;
}

.tab-1 {
    min-height: 1200px;
}

.summary-page .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    min-width: 100%;
}

.summary-page .content-table thead tr{
    background-color: #0c2d99;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.summary-page .content-table th {
    padding: 10px 4px;
    border-top: 1px #ffffff solid;
}

.summary-page .content-table td {
    padding: 6px 4px;
    border-top: 1px #ffffff solid;
    border-bottom: 1px #ffffff solid;
} 

.summary-page .content-table tr:hover {
    background-color: #06315f;
}

.summary-page thead th {
    border: 1px solid black;
    text-align: center;
}

.summary-page .th-1{
    width: 78%;
    text-align: center;
}

.summary-page .td-1 {
    width: 78%;
}

.summary-page .th-2 {
    width: 15%;
    text-align: center;
}

.summary-page .td-2 {
    width: 15%;
}

.summary-page .th-3, .td-3 {
    width: 7%;
    text-align: center;
}

.summary-page > th, td{
    border: 1px solid black;
} 

.order-completed {
    color: green;
}

.printable { 
    display: none;
}

@media print {
    .non-printable { display: none; }
    .printable { display: block;}
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .summary-page .content-table {margin: 25px 0; font-size: 16px; min-width: 100%;}
    .summary-page label {font-size: 15px;}
    .service-offer h4 {font-size: 20px; line-height: 140%; margin: 0 5px;}
} 

@media (min-width: 1054px) and (max-width: 1199px) {
    .summary-page .content-table {margin: 25px 0; font-size: 16px; min-width: 100%;}
    .summary-page label {font-size: 15px;}
    .service-offer h4 {font-size: 16px; line-height: 140%; margin: 0 5px;}
}

@media (min-width: 992px) and (max-width: 1053px) {
    .summary-page .content-table {margin: 25px 0; font-size: 15px; min-width: 100%;}
    .summary-page label {font-size: 15px;}
    .service-offer h4 {font-size: 16px; line-height: 140%; margin: 0 5px;}
} 

@media (min-width: 768px) and (max-width: 991px) {
    .summary-page .headline {font-size: 45px;}
    .summary-page .content-table {margin: 25px 0; font-size: 14px; min-width: 100%;}
    .summary-page label {font-size: 15px;}
    .service-offer h4 {font-size: 15px; line-height: 140%; margin: 0 5px;}
}

@media (min-width: 576px) and (max-width: 767px) {
    .summary-page .headline {font-size: 45px;}
    .summary-page .content-table {margin: 25px 0; font-size: 13px; min-width: 100%;}
    .summary-page label {font-size: 13px; line-height: 140%;}
    .summary-page .tab-content {padding: 10px 10px 10px 10px;}
    .service-offer h4 {font-size: 15px; line-height: 140%; margin: 0 5px;}
}

@media (min-width: 384px) and (max-width: 575px) {
    .summary-page .headline {font-size: 40px;}
    .summary-page {margin-bottom: 1rem;}
    .summary-page .content-table {margin: 25px 0; font-size: 13px; min-width: 100%;}
    .summary-page label {font-size: 15px;}
    .summary-page .tab-content {padding: 8px 8px 8px 8px;}
    .service-offer h4 {font-size: 15px; line-height: 140%; margin: 0 5px;}
}

@media (min-width: 1px) and (max-width: 383px) {
    .summary-page .headline  {font-size: 35px;}
    .summary-page {margin-bottom: 1rem;}
    .summary-page .content-table {margin: 25px 0; font-size: 11px; min-width: 100%;}
    .summary-page label {font-size: 15px;}
    .summary-page {padding: 5px 5px 5px 5px;}
    .service-offer h4 {font-size: 15px; line-height: 140%; margin: 0 5px;}
}

.timetable #date-info {
    display: block;
    font-weight: 100;
    font-size: 11px;
}

.timetable thead th {
    border: 1px solid black;
    text-align: center;
}

.timetable .td-1 {
    text-align: center;
}

.timetable .td-3 {
    text-align: center;
}

.timetable .th-1, .td-1 {
    width: 8%;
}

.timetable .th-2, .td-2 {
    width: 72%;
}

.timetable .th-3, .td-3 {
    width: 20%;
}

.buttons button {
    width: 180px;
    padding: 0.6rem 0 0.6rem 0;
    border-radius: 26px;
    border: #044488 solid 2px;
    width: 160px;
    font-size: 21px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #1A53BD;
}

.buttons input {
    width: 180px;
    padding: 0.6rem 0 0.6rem 0;
    border-radius: 26px;
    border: #044488 solid 2px;
    width: 160px;
    font-size: 21px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #1A53BD;
} 

.buttons .btn {
    padding: 0.6rem 0 0.6rem 0;
    border-radius: 26px;
    border: #044488 solid 2px;
    width: 160px;
    font-weight: 700;
    color: #1A53BD;
}

.buttons .btn:hover {
    background-color: #044488;
    color: #ffffff;
    border: #ffffff solid 2px;
}