.contact-container {
   height: 860px;
}

.contact-area {
    min-height: auto;
}

.box-info {
    background-color: rgb(11, 64, 145);
}

.box-info h2 {
    font-size: 27px; 
    font-weight: 500; 
    padding: 2rem 0 2rem 0; 
    line-height: 140%;
}

.container-message {
    padding-bottom: 6rem;
}

.headline {
    line-height: 150%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.box-info img{
    width: 100%;
    height: auto;
    margin: 15% 0 0 0; 
    padding: 0 0;
}

.form-group {
    display: flex;
    margin-bottom: 0;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

label {
    background: none;
    box-shadow: none;
    color: #ffffff;
    padding: 0 0;
    margin: 0 0;
}

input {
    width: 100%;
}

#message {
    min-height: 12rem;
}

.box-message {
    background-color: rgb(11, 62, 130);
}

.wrapper header {
    font-size: 23px;
    font-weight: 600;
    padding: 20px 30px;
    border-bottom: 1px solid #ffffff;
}

.wrapper form{
    margin: 35px 30px;
}

form .dbl-field {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    justify-content: space-between;
}

.dbl-field .field{
    height: 50px;
    position: relative;
    width: calc(100% / 2 - 13px);
}

form .field input,
form .message textarea{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px 0 30px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #474545;
}

form .field input::placeholder,
.message textarea::placeholder{
    color: #474545;
}

form .field input:focus,
form .message textarea:focus{
    border: 2px solid rgb(11, 64, 145);
}

.wrapper form .message textarea::placeholder{
    padding-top: 0px;
}

form .message textarea{
    min-height: 300px;
    padding: 15px 20px 0 30px;
    min-width: 100%;
    max-width: 100%;
}

form .message i,
.wrapper form .field i{
    position: absolute;
    left: 22px;
    top: 50%;
    font-size: 15px;
    pointer-events: none;
    transform: translateY(-50%);
    color: #474545;
}

form .field input:focus ~ i,
form .message textarea:focus ~ i{
    color: #1d29cf;
}

.wrapper {
    display: flex;
    padding: 0 0px;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
}

.wrapper form .message{
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.wrapper form .message i{
    top: 30px;
    font-size: 20px;
}

.text {
    display: flex;
}

.wrapper{
    display: inline-block;
    width: 100%;
}

form .button-area{
    margin: 20px 0 0 0;
    display: flex;
    text-align: end;
} 

form .button-area button{
    cursor: pointer;
    margin: 0 0 0 0; 
    width: 20%;  
    padding: 8px 0 8px 0;
    border-radius: 26px;
    background-color: #ffffff;
    border: #052342 solid 2px;
    color: #044488;
    font-weight: 700;
}

.button-area button:hover {
    background-color: #1A53BD;
    color: #ffffff;
    border: #ffffff solid 2px;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */


@media (min-width: 1600px) {
    .field {margin-bottom: 10px;}
    .dbl-field {margin-bottom: 10px;}
}

@media (min-width: 1490px) and (max-width: 1599px) {
    .field {margin-bottom: 10px;}
    .dbl-field {margin-bottom: 10px;}
}

@media (min-width: 1200px) and (max-width: 1489px) {
    .field {margin-bottom: 10px;}
    .dbl-field {margin-bottom: 10px;}
} 

@media (min-width: 1054px) and (max-width: 1199px) {
    .field {margin-bottom: 10px;}
    .dbl-field {margin-bottom: 0;}
}

@media (min-width: 992px) and (max-width: 1053px) {
    .field {margin-bottom: 10px;}
    .dbl-field {margin-bottom: 0;}
} 

@media (min-width: 768px) and (max-width: 991px) {
    .field {margin-bottom: 10px;}
    .dbl-field {margin-bottom: 0;}
}

@media (min-width: 576px) and (max-width: 767px) {
    .field {margin-bottom: 10px;}
    .dbl-field {margin-bottom: 0;}
}

@media (min-width: 384px) and (max-width: 575px) {
    .field {margin-bottom: 10px;}
    .dbl-field {margin-bottom: 0;}
}

@media (min-width: 1px) and (max-width: 383px) {
    .field {margin-bottom: 10px;}
    .dbl-field {margin-bottom: 0;}
    .wrapper form .message{padding-left: 1px; padding-right: 1px;}
    .box-message { margin: 0 0; padding: 0 0;}
    .wrapper form{margin: 25px 20px;}
}

/* --------------------------------------------------------- */
/* --------------------------------------------------------- */


.contact-information {
    min-height: 860px;
}

.contact-information .headline {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.contact-information .info-wrap {
    border: 1px solid #e6e6e6;
    padding: 20px 16px;
    margin-bottom: 30px;
}

.info-img {
    width: auto;
    padding: 1rem 0 1rem 0;
}

.contact-information .info-wrap .day, .hours {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px; 
    margin-bottom: 0!important;
}

.contact-information .box-contact {
    padding-right: 10px;
    padding-left: 10px;
}

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

@media (min-width: 1600px) {
    .info-wrap {height: 350px;} 
}

@media (min-width: 1490px) and (max-width: 1599px) {
    .info-wrap {height: 350px;}
    .contact-information .info-wrap .day, .hours {font-size: 16px;}
}

@media (min-width: 1226px) and (max-width: 1489px) {
    .info-wrap{height: 350px;}
    .contact-information .info-wrap .day, .hours {font-size: 16px;}
}

@media (min-width: 1200px) and (max-width: 1225px) {
    .info-wrap{height: 350px;}
    .contact-information .info-wrap .day, .hours {font-size: 15px;}
}

@media (min-width: 1054px) and (max-width: 1199px) {
    .info-wrap {height: 350px; padding: 8px 8px;}
    .box-contact .row{padding: 0 100px 0 100px;}
}

@media (min-width: 992px) and (max-width: 1053px) {
    .info-wrap {height: 350px;}
    .box-contact .row{padding: 0 100px 0 100px;}
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.social-media-contact {
    align-items: center;
    height: 860px;
}

.social-media-contact .headline{
    padding-bottom: 4rem;
}

.social-media {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10rem;
}

.dot {
    border-radius: 50%;
}

.social-media .dotimg {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin: auto;
    padding: 0 0;
}

.social-media .dotimg-st {
    height: 125px;
    width: 125px;
}

.social-media div {
    margin-bottom: 4rem;
}

/* ------------------------------------------------- */
/* ------------------------------------------------- */


@media (min-width: 1600px) and (max-width: 12599px) {
    .social-media div {display: flex; align-items: center; justify-content: center;}
}

@media (min-width: 1490px) and (max-width: 1599px) {
    .social-media div {display: flex; align-items: center; justify-content: center;}
}

@media (min-width: 1200px) and (max-width: 1489px) {
    .social-media {display: flex; align-items: center; justify-content: center;}
    
} 

@media (min-width: 1054px) and (max-width: 1199px) {
    .social-media .dotimg {width: 125px;}
    .social-media .dotimg-st {height: 125px; width: 125px;}
    .social-media div {display: flex; align-items: center; justify-content: center;}
} 

@media (min-width: 992px) and (max-width: 1053px) {
    .social-media .dotimg {width: 100px; height: 100px;}
    .social-media .dotimg-st {height: 100px; width: 100px;}
    .social-media div {display: flex; align-items: center; justify-content: center;}
} 

@media (min-width: 768px) and (max-width: 991px) {
    .social-media .dotimg {width: 100px; height: 100px;}
    .social-media .dotimg-st {height: 100px; width: 100px;}
    .social-media div {display: flex; align-items: center; justify-content: center}
}

@media (min-width: 576px) and (max-width: 767px) {
    .social-media .dotimg {width: 100px; height: 100px;}
    .social-media .dotimg-st {height: 100px; width: 100px;}
    .social-media div {display: flex; align-items: center; justify-content: center;}
}

@media (min-width: 384px) and (max-width: 575px) {
    .social-media  .dotimg {width: 100px; height: 100px;}
    .social-media .dotimg-st {height: 100px; width: 100px;}
    .social-media div {display: flex; align-items: center; justify-content: center;}
}

@media (min-width: 1px) and (max-width: 383px) {
    .social-media .dotimg {width: 80px; height: 80px;}
    .social-media .dotimg-st {height: 80px; width: 80px;}
    .social-media div {display: flex; align-items: center; justify-content: center;}
}

.responsive-map {
    min-height: 60vh;  
}
  
.responsive-map iframe {
    border:0;
}

/* ------------------------------------------------------- */
