
.reporting-a-work-accident, .summary-page {
    .headline {
        line-height: 150%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-weight: bold;
    }
    .row {
        min-height: 500px;
    }
    .service-offer {
        height: auto;
        min-height: 700px;
        padding-bottom: 50px;
    }
    .first-section {
        margin-top: 0; 
        margin-bottom: 0; 
        min-height: 80px; 
        height: auto;
    }
    .first-section div {
        display: inline-block; 
    }
    .victim-data {
        width: 300px;
    }
    .victim-data textarea {
        width: 300px; 
        border: none; 
        border-bottom: 1px black dotted; 
        outline: none; 
        font-style: italic;
    }
    .victim-data label {
        font-size: 10px; 
        width: 300px;
    }
    .distance-one span {
        margin-right: 330px;
    }
    .distance-one label {
        font-size: 10px;
    }
    .place input {
        width: 180px; 
        border: none; 
        border-bottom: 1px black dotted; 
        outline: none;
    }
    .place label {
        font-size: 10px;
    }
    .day label {
        font-size: 10px;
    }
    .day-month-year input {
        width: 100px; 
        border: none; 
        border-bottom: 1px black dotted; 
        outline: none;
    }
    .day-month-year label {
        font-size: 10px;
    }
    .year label {
        font-size: 10px;
    }
    .second-section {
        min-height: 60px; 
        height: auto;
    }
    .second-section div input {
        width: 360px; 
        border: none; 
        border-bottom: 1px black dotted; 
        outline: none;
    }
    .second-section div label {
        font-size: 10px; 
        width: 320px;
    }
    .third-section {
        min-height: 60px; 
        height: auto;
    }
    .fourth-section {
        min-height: 20px; 
        height: auto;
    }
    .fourth-section input {
        width: 120px; 
        border: none; 
        border-bottom: 1px black dotted; 
        outline: none;
    }
    .fifth-section {
        min-height: 50px; 
        height: auto; 
        display: inline-block;
    }
    .fifth-section textarea {
        width: 100%; 
        border: none; 
        outline: none; 
        line-height: 1.8; 
        font-style: italic; 
        text-align: justify;
    }
    .fifth-section label {
        font-size: 12px;
    }
    .sixth-section {
        min-height: 10px; 
        height: auto;
    }
    .white-paper {
        background-color: white;
        /* min-height: calc(297mm*1.2); */
    }
    .seventh-section {
        min-height: 50px; 
        height: auto;
    }
    .seventh-section textarea {
        width: 100%; 
        border: none; 
        outline: none; 
        line-height: 1.8; 
        font-style: italic; 
        text-align: justify;
    }
    .seventh-section label {
        font-size: 12px;
    }
    .eighth-section {
        min-height: 100px; 
        height: auto;
    }
    .eighth-section .accident-witness input {
        width: 420px; 
        border: none; 
        border-bottom: 1px black dotted; 
        outline: none;
    }
    .accident-witness input {
        width: 420px; 
        border: none; 
        border-bottom: 1px black dotted; 
        outline: none;
    }
    .accident-witness .person-label {
        width: 370px;
    }
    .accident-witness label {
        font-size: 10px;
    }
    .ninth-section {
        min-height: 100px; 
        height: auto;
    }
    .ninth-section input {
        width: 420px; 
        line-height: 1.8;
        border: none; 
        border-bottom: 1px black dotted; 
        outline: none;
    }
    .tenth-section {
        min-height: 80px; 
        height: auto;
    }
    .tenth-section input {
        width: 320px; 
        border: none; 
        border-bottom: 1px black dotted; 
        outline: none;
    }
    .tenth-section label {
        font-size: 10px; 
        width: 320px;
    }

    .eleventh-section button {
        width: 180px;
        padding: 0.4rem 0 0.4rem 0;
        border-radius: 26px;
        font-size: 19px;
    } 

    .eleventh-section input {
        width: 180px;
        padding: 0.4rem 0 0.4rem 0;
        border-radius: 26px;
        font-size: 19px;
    } 

}


/* ---------------------------------------------- */

.printable { 
    display: none;
}

@media print {
    .non-printable { 
        display: none; 
    }
    .printable { 
        display: block;
    }
}

/* ---------------------------------------------- */


#printableArea {
    width: calc(210mm*1.3); 
    /*min-height: calc(297mm*1.3);*/ 
    height: auto; 
    /*background-color:white;*/ 
    color: black; 
    margin-top: 0mm; 
    margin-bottom: 0; 
    padding-bottom: 0; 
    font-family: Times New Roman, Times, serif;
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */

@media (min-width: 1200px) and (max-width: 1399px) {
    .service-offer h4 {font-size: 20px; line-height: 140%; margin: 0 5px;}
} 

@media (min-width: 1054px) and (max-width: 1199px) {
    .service-offer h4 {font-size: 16px; line-height: 140%; margin: 0 5px;}
}

@media (min-width: 992px) and (max-width: 1053px) {
    .service-offer h4 {font-size: 16px; line-height: 140%; margin: 0 5px;}
} 

@media (min-width: 768px) and (max-width: 991px) {
    .services-page .headline {font-size: 45px;}
    .service-offer h4 {font-size: 15px; line-height: 140%; margin: 0 5px;}
}

@media (min-width: 576px) and (max-width: 767px) {
    .services-page .headline {font-size: 45px;}
    .service-offer h4 {font-size: 15px; line-height: 140%; margin: 0 5px;}
}

@media (min-width: 384px) and (max-width: 575px) {
    .services-page .headline {font-size: 40px;}
    .service-offer h4 {font-size: 15px; line-height: 140%; margin: 0 5px;}
}

@media (min-width: 1px) and (max-width: 383px) {
    .services-page .headline  {font-size: 35px;}
    .service-offer h4 {font-size: 15px; line-height: 140%; margin: 0 5px;}
}

/* ----------------------------------------------------- */
