
.footer-h5 {
    font-size: 17px;
    color: #ffffff;
    padding-bottom: 0.4rem;
}

.main-footer {
    background-color: rgb(11, 11, 68);
}

.footer-content {
    padding: 0 15%;
}

footer .footer-menu {
    min-height: auto;
    width: 100%;
}

.f-col {
    font-size: 12px;
    margin: 2rem auto;
    padding: 0;
}

footer .footer-menu a {
    text-decoration: none;
    display: block;
}

footer .footer-menu a:hover {
    color: white;
}

footer .footer-menu p {
    color: #007bff;
}

footer .footer-language, .footer-bottom {
    background-color: rgb(11, 11, 68);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;
    border-top: 1px solid #0e4a97;
    padding: 1.2rem 0 1.2rem 0;
    color: #0e4a97;
}

footer .language {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 1.2rem;
}

footer .language-label {
    margin-right: 1.2rem;
    text-decoration: none;
    color: white;
}

footer .language-label:hover {
    text-decoration: none;
}

footer .globe {
    opacity: 0.5;
    height: 24px;
    width: 24px;
}

footer .footer-button-left {
    margin: 0 0;
    padding: 0 0;
}

footer .text-law, .text-rule {
    padding: 9px 0;
}

footer .footer-button-center {
    text-align: center;
    vertical-align: middle;
}

footer .text-label {
    text-decoration: none;
    vertical-align: middle;
}

footer .text-label:hover {
    text-decoration: none;
    color: white;
}

.footer-bottom ul {
    padding:0;
    list-style: none;
}

.footer-social-icons {
    display:block;
    margin: 0 auto;
}

.social-icon {
    color: #fff;
    }

ul.social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.social-icons li {
    vertical-align: top;
    display: inline;
    height: auto;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: none;
    border-radius: 50%;
}

.fa-facebook:hover {
    background-color: #3d5b99;
    border-radius: 50%;
}

.fa-youtube {
    padding:10px 11px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: none;
    border-radius: 50%;
}

.fa-youtube:hover {
    background-color: #e64a41;
    border-radius: 50%;
}

.fa-linkedin {
    padding:10px 11px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: none;
    border-radius: 50%;
}

.fa-linkedin:hover {
    background-color: #0073a4;
    border-radius: 50%;
}

/* ------------ | FOOTER - END |------------ */
/* ----------------------------------------- */
/* ------------ | FOOTER - RESPONSIVE |------------ */

@media (min-width: 576px) and (max-width: 767px) {
    .f-col {font-size: 13px; margin: 2rem auto; padding: 0;}
    .footer-h5 {font-size: 17px; padding-bottom: 0.4rem;}
}

@media (min-width: 384px) and (max-width: 575px) {
    .f-col {font-size: 12px; margin: 2rem 3rem 2rem 5rem; padding: 0;}
    .footer-h5 {font-size: 15px; padding-bottom: 0.4rem;}
    .text-law, .text-rule {font-size: 13px;}
}

@media (min-width: 1px) and (max-width: 383px) {
    .f-col {font-size: 11px; margin: 2rem 2rem; padding: 0;}
    .footer-h5 {font-size: 13px; padding-bottom: 0.4rem;}
    .text-law, .text-rule {font-size: 11px;}
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */


