
.login {
    min-height: 600px;
}

.login > .row > div {
    height: auto;
}

.login-form {
    height: 400px; 
    padding: 20px 0 20px 0; 
    margin: 120px 0 120px 0;  
    background-color: rgb(11, 62, 130);
}

.login-title {
    margin: 0 20px 0 20px; 
    border-bottom: 1px white solid;
}

form .button-area{
    margin: 20px 0 0 0;
    display: flex;
    text-align: end;
} 

form .button-area button{
    cursor: pointer;
    margin: auto; 
    width: 30%;  
    padding: 8px 0 8px 0;
    border-radius: 26px;
    background-color: #ffffff;
    border: #052342 solid 2px;
    color: #044488;
    font-weight: 700;
}

.button-area button:hover {
    background-color: #1A53BD;
    color: #ffffff;
    border: #ffffff solid 2px;
}

.login a {
    text-decoration: none;
}

.login a:hover {
    color: #ffffff;
}

.login form label {
    margin-bottom: 8px !important;
    margin-top: 8px;
}

.login form input {
    height: 40px;
    width: 100%;
    outline: none;
    padding: 0 15px 0 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #474545;
}
