html{
    width: 100%!important;
    margin: 0!important;
    padding: 0!important;
    scroll-behavior: smooth;
}

/* ------------------------------------------- */
/* ------------------------------------------- */

.main-header {
    width: 100%;
}

.navbar-brand {
    padding-left: 0;
    margin-right: 0;
    display: flex;
}

.sygnet {
    color: rgb(255, 255, 255);
    padding: 2px;
}

.wordmark {
    font-family: 'League Spartan', sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 0;
    line-height: 100%;
}

.tagline {
    font-family: 'League Spartan', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 100%;
    width: 100%;
    padding-top: 5px;
}

.navbar {
    min-height: 90px;
    padding: 0 20%;
}

.nav-item {
    margin-right: 2rem;
}

.navbar-nav:hover {
    color: #ffffff;
}

.navbar-collapse {
    margin-right: 0;
}
  
/* ------------------------------------------- */
/* ------------------------------------------- */

@media (max-width: 1200px) {
    .nav-item {font-size: 17px; margin-right: 1.4rem;}
    .navbar-brand {font-size: 17px;}
}
  
@media (max-width: 992px) {
    .navbar {padding: 0 8% 0 8%;}
}
  
@media (max-width: 384px) {
    .sygnet {width: 36px; height: 36px;}
    .navbar-brand {font-size: 14px;}
    .navbar-toggler {font-size: 0.8rem;}
    .wordmark {font-size: 22px;}
    .tagline {font-size: 11px;}
}

/* ----------------------------------------- */
/* ----------------------------------------- */

ul a:hover {
    color: #ffffff;
}
  
nav li {
    text-align: center;
}

.main-header li a:after {
    content: '';
    display: block;
    height: 1.5px;
    background: #ffffff ;
    transform: scaleX(0);
    transition: transform .2s;
}

li a:hover:after {
    transform: scaleX(1);
    transition: transform .2s;
}

.active {
    color: #ffffff;
}

/* ----------------------------------------- */
/* ----------------------------------------- */

body {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 17px;
    padding: 0;
    width: 100%;
    height:100%;
    background: -moz-linear-gradient(top, #215aaf 100%, #007bff 0%);
    background: -webkit-linear-gradient(top, #145dca 100%,#007bff 0%);
    background: linear-gradient(to bottom, #0e4a97 100%,#007bff 0%);
}

h1 {
    font-size: 46px;
    font-weight: 400;
    color: #ffffff;
    font-family: Arial;
    padding: 0 0;
    margin: 0 0;
    line-height: 130%;
}

.home-page, .about-us-page, .services-page, .contact-page .terms-of-use {
    padding: 0 0;
    background-color: none;
    margin: 0 0;
}

.container {
    margin: 0 0;
    padding: 0 0;
    width: 100%;
    min-width: auto;
}

.bg-con-1 {
    background-color: rgb(26, 83, 189);
}

.bg-con-2 {
    background-color: none;
}

.row {
    width: 100%;
    margin: 0 0;
}

.row-content {
    padding: 0% 20%;
}

.con-1 {
    margin-bottom: 3rem;
}

.con-2 {
    margin-bottom: 6rem;
    margin-top: 6rem;
}

/* ------------------------------------------- */
/* ------------------------------------------- */

@media (min-width: 1200px) {
  .container {max-width: 100%;}
}

@media (min-width: 1054px) and (max-width: 1199px) {
  .home-page-content {margin-top: 2rem;}
  .container {max-width: 100%;}
  .con-1 {margin-bottom: 2rem;}
  .row-content {padding: 0% 8%;}
}

@media (min-width: 992px) and (max-width: 1053px) {
  .home-page-content {margin-top: 2rem;}
  .container {max-width: 100%;}
  .con-1 {margin-bottom: 2rem;}
  .row-content {padding: 0% 8%;}
}

@media (min-width: 768px) and (max-width: 991px) {
  .home-page-content {margin-top: 2rem;}
  .container {max-width: 100%;}
  .con-1 {margin-bottom: 2rem;}
  .row-content {padding: 0% 6%;}
}

@media (min-width: 576px) and (max-width: 767px) {
  .home-page-content {margin-top: 2rem;}
  .container {max-width: 100%;}
  .con-1 {margin-bottom: 2rem;}
  .row-content {padding: 0% 6%;}
}

@media (min-width: 384px) and (max-width: 576px){
  .home-page-content {margin-top: 1rem;}
  .con-1 {margin-bottom: 2rem;}
  .row-content {padding: 0% 4%;}
}

@media (min-width: 1px) and (max-width: 383px) {
  .home-page-content {margin-top: 1rem;}
  .con-1 {margin-bottom: 2rem;}
  .row-content {padding: 0% 2%;}
}

/* ------------------------------------------------- */
/* ------------------------------------------------- */

#topBtn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background: #2980b9;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
    border-radius: 50%;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

@media (max-width: 1054px) {
    #topBtn {width: 32px; height: 32px;}
}

@media (max-width: 768px) {
    #topBtn {width: 32px; height: 32px; bottom: 30px; right: 20px;}
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
