.cookie-container {
  margin: 0 0;
  padding: 0 0 0 0;
  line-height: 1.6;
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #021530;
  color: #f5f6fa;
  padding: 16px 32px;
  box-shadow: 0 -2px 16px #02153060;
}

.cookie-container.active{
  bottom: 0; 
  display: flex;
}

.cookie-container a {
  color: #f5f6fa;
  text-decoration: underline;
}

.cookie-container a:hover {
  color: #0c08fd;
}

.cookie-popup-inside {
  padding: 0.5% 15% 0 15%;
}

.text-area-politics {
  padding-left: 15px;
  padding-right: 15px;
}

.accept-btn, .cancel-btn {
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  margin-bottom: 4%;
  border-radius: 26px;
  border: #044488 solid 2px;
  width: 120px;
  height: 40px;
  font-weight: 700;
  color: #1A53BD;
  font-size: 17px;
  cursor: pointer;
  flex: 0 0 45%;
  max-width: auto;
}

.accept-btn:hover, .cancel-btn:hover {
  background-color: #1A53BD;
  color: #ffffff;
  border: #ffffff solid 2px;
}

.buttons-area .row {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  margin-bottom: 2em;
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

@media (min-width: 1200px) and (max-width: 1399px) {
  .cookie-popup-inside p{font-size: 15px;}
} 

@media (min-width: 1054px) and (max-width: 1199px) {
  .cookie-popup-inside p{font-size: 15px;} 
}

@media (min-width: 992px) and (max-width: 1053px) {
  .cookie-popup-inside p{font-size: 15px;}
} 

@media (min-width: 768px) and (max-width: 991px) {
  .cookie-container {position: fixed; bottom: -100%; padding: 16px 32px; box-shadow: 0 -2px 16px #02153060; line-height: 1.4;}
  .cookie-container h3 {font-size: 15px;}
  .cookie-popup-inside {padding: 0.5% 5% 0.5% 5%; font-size: 13px;}
  .text-area-politics {padding-left: 0px; padding-right: 0px;}
  .buttons-area .row {display: flex; justify-content: space-between; margin-top: 1em; margin-bottom: 1em; padding: 0 8% 0 8%;}
  .accept-btn, .cancel-btn {padding: 0.2rem 0.2rem 0.2rem 0.2rem; border-radius: 16px; width: 40px; height: 30px; font-weight: 700; font-size: 11px; flex: 0 0 40%;}
}

@media (min-width: 576px) and (max-width: 767px) {
  .cookie-container {position: fixed; bottom: -100%; padding: 16px 32px; box-shadow: 0 -2px 16px #02153060; line-height: 1.4;}
  .cookie-container h3 {font-size: 15px;}
  .cookie-popup-inside {padding: 0.5% 5% 0.5% 5%; font-size: 13px;}
  .text-area-politics {padding-left: 0px; padding-right: 0px;}
  .buttons-area .row {display: flex; justify-content: space-between; margin-top: 1em; margin-bottom: 1em; padding: 0 2% 0 2%;}
  .accept-btn, .cancel-btn {padding: 0.2rem 0.2rem 0.2rem 0.2rem; border-radius: 16px; width: 60px; height: 30px; font-weight: 400; font-size: 11px; flex: 0 0 45%;}
}

@media (min-width: 384px) and (max-width: 575px) {
  .cookie-container {position: fixed; bottom: -100%; padding: 16px 32px; box-shadow: 0 -2px 16px #02153060; line-height: 1.4;}
  .cookie-container h3 {font-size: 15px;}
  .cookie-popup-inside {padding: 0.5% 5% 0.5% 5%; font-size: 13px;}
  .text-area-politics {padding-left: 0px; padding-right: 0px;}
  .buttons-area .row {display: flex; justify-content: space-between; margin-top: 1em; margin-bottom: 1em; padding: 0 8% 0 8%;}
  .accept-btn, .cancel-btn {padding: 0.2rem 0.2rem 0.2rem 0.2rem; border-radius: 16px; width: 40px; height: 30px; font-weight: 700; font-size: 11px; flex: 0 0 40%;}
}

@media (min-width: 1px) and (max-width: 383px) {
  .cookie-container {position: fixed; bottom: -100%; padding: 16px 32px; box-shadow: 0 -2px 16px #02153060; line-height: 1.4;}
  .cookie-container h3 {font-size: 13px;}
  .cookie-popup-inside {padding: 0.5% 1% 0.5% 1%; font-size: 9px;}
  .text-area-politics {padding-left: 0px; padding-right: 0px;}
  .buttons-area .row {display: flex; justify-content: space-between; margin-top: 1em; margin-bottom: 1em;}
  .accept-btn, .cancel-btn {padding: 0.2rem 0.2rem 0.2rem 0.2rem; border-radius: 16px; width: 40px; height: 30px; font-weight: 700; font-size: 11px; flex: 0 0 40%;}
}

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

