.services-page .headline {
    line-height: 150%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-weight: bold;
}

.services-page .tabs-container{
    position: relative;
    width: 20%;
    height: auto;
    float: left;
    z-index: 20;
} 

.services-page .tabs-container label{
    position: relative;
    padding: 12px 12px;
    margin-top: 5px;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    font-size: 17px;
    background: #1040c4;
    color: #fff;
    cursor: pointer;
    user-select: none;
} 

.services-page .tabs-container label:hover{
    background: rgba(0, 0, 0, 0.2);
} 

.services-page .tab-content{
    position: relative;
    background: none;
    width: calc(100% - 20%);
    padding: 15px 15px 15px 20px;
    float: left;
    box-sizing: border-box;
    z-index: 19;
    display: none;
}

.services-page .tab-content:after{
    content: "";
    clear: both;
} 

.services-page input[name="tab"]{
    display: none;
} 

.services-page input[name="tab"]:checked + .tab-content{
    display: block;
    animation: slide 0.5s forwards;
} 

.service-offer {
    height: auto;
    min-height: 700px;
}

.tab-1 {
    min-height: 1200px;
}

.services-page .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    min-width: 100%;
}

.services-page .content-table thead tr{
    background-color: #0c2d99;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.services-page
.content-table th {
    padding: 10px 4px;
    border-top: 1px #ffffff solid;
}

.services-page .content-table td {
    padding: 6px 4px;
    border-top: 1px #ffffff solid;
    border-bottom: 1px #ffffff solid;
} 

.services-page .content-table tr:hover {
    background-color: #06315f;
}

.calculator {
    border: solid white 1px; 
    padding: 20px; 
    height: 300px; 
    font-size: 27px; 
    color: white;
}

.calc-box a:hover {
    text-decoration: none;
    color: white;
    background-color: #0c2d99;
}


/* ---------------------------------------------- */
/* ---------------------------------------------- */

@media (min-width: 1200px) and (max-width: 1399px) {
    .services-page .content-table {margin: 25px 0; font-size: 16px; min-width: 100%;}
    .services-page .tabs-container label {font-size: 15px;}
    .service-offer h4 {font-size: 20px; line-height: 140%; margin: 0 5px;}
} 

@media (min-width: 1054px) and (max-width: 1199px) {
    .services-page .content-table {margin: 25px 0; font-size: 16px; min-width: 100%;}
    .services-page .tabs-container label {font-size: 15px;}
    .service-offer h4 {font-size: 16px; line-height: 140%; margin: 0 5px;}
}

@media (min-width: 992px) and (max-width: 1053px) {
    .services-page .content-table {margin: 25px 0; font-size: 15px; min-width: 100%;}
    .services-page .tabs-container label {font-size: 15px;}
    .service-offer h4 {font-size: 16px; line-height: 140%; margin: 0 5px;}
} 

@media (min-width: 768px) and (max-width: 991px) {
    .services-page .headline {font-size: 45px;}
    .services-page .content-table {margin: 25px 0; font-size: 14px; min-width: 100%;}
    .services-page .tabs-container label {font-size: 15px;}
    .service-offer h4 {font-size: 15px; line-height: 140%; margin: 0 5px;}
}

@media (min-width: 576px) and (max-width: 767px) {
    .services-page .headline {font-size: 45px;}
    .services-page .content-table {margin: 25px 0; font-size: 13px; min-width: 100%;}
    .services-page .tabs-container label {font-size: 13px; line-height: 140%;}
    .services-page .tab-content {padding: 10px 10px 10px 10px;}
    .service-offer h4 {font-size: 15px; line-height: 140%; margin: 0 5px;}
}

@media (min-width: 384px) and (max-width: 575px) {
    .services-page .headline {font-size: 40px;}
    .services-page .tabs-container {margin-bottom: 1rem;}
    .services-page .content-table {margin: 25px 0; font-size: 13px; min-width: 100%;}
    .services-page .tabs-container label {font-size: 15px;}
    .services-page .tab-content {padding: 8px 8px 8px 8px;}
    .service-offer h4 {font-size: 15px; line-height: 140%; margin: 0 5px;}
}

@media (min-width: 1px) and (max-width: 383px) {
    .services-page .headline  {font-size: 35px;}
    .services-page .tabs-container {margin-bottom: 1rem;}
    .services-page .content-table {margin: 25px 0; font-size: 11px; min-width: 100%;}
    .services-page .tabs-container label {font-size: 15px;}
    .services-page .tab-content {padding: 5px 5px 5px 5px;}
    .service-offer h4 {font-size: 15px; line-height: 140%; margin: 0 5px;}
}

/* ----------------------------------------------------- */
