
.calculator-page .headline {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.calculator-page h4 {
    padding: 20px 0 10px 0;
    margin: 0 0;
}

.calculator-page label{
    position: relative;
    margin-bottom: 0;
    display: block;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    user-select: none;
} 

.service-offer {
    height: auto;
    min-height: 700px;
}

form label {
    height: 30px;
}

form label:hover {
    background-color: #0c2d99;
}

.line {
    border-bottom: #fff 1px solid;
}

.distance {
    height: 60px;
}